/*COLOR LIGHT BLUE:#4ECDC4
LIGHT GRAY:#2F323B
DARKER:#585a62(FONT COLORS);

Dark:left-sidebar color: #2f323a;
font color left sidebar(default): #aeb2b7;
new left color background:rgba(0,213,193,.6);
ligth blue color: left sidebar hover:active : #4ECDC4;

*/

.child-tab{
	padding-left: 0 !important;
	margin-left: 20px !important;
}

.remove-hl{
	background: transparent !important;
	margin-left:10px;

}
.sub-menu li a.active{
		color:#21b0f1 !important;
}

.wrapper
{
	padding-bottom: 0 !important;
}

#profilepic{
	border-radius: 6px;
	margin-left: 25px;
	margin-top: 15px;
}

.context{
	margin-top: 56px;
	margin-left: 10px;
	margin-right: 25px;
}
.context>p{
	font-size: 16px;
}
#ava
{
	padding-left: 3px;
}
.customhr
{
	border-color: #4ECDC4;
}
#NotifContainer{
	max-height: 666px;
	overflow:auto;
}
.custom-form-radio{
	height: 16px !important;
	
}
.radio-label-center{
	text-align: center;
}
.custom-btn{
	background-color:#2F323B;
	border-radius: 5px;
	height:50px;
	color: white;
	text-align: center;
	cursor:pointer;
	padding:10px 30px;
	margin-left:32px;
}
.custom-btn:hover{
	background-color:#21b0f1;
	text-align: center;
	cursor:pointer;
	padding:10px 30px;
}
.main-chart{
	min-height: 555px;
	overflow: auto !important;
}
.thead_theme{
	background-color:rgba(47, 50, 59,.89);
	color: white;
}
.custom_table{
	margin-top: 26px;
	padding:0 12px;
}
.tag_style{
	font-size: 18px;
}
.theme_hr{
	border-color:rgba(47, 50, 59,.2);
}
#subs_click{
	margin-top:28px;	
}
.form_custom{

	padding:66px;
}
.form_remove_up_down{
	-webkit-appearance: none; 
  margin: 0;
}
.form-group-center label,.form-group-center button{
	margin-left:13%;
}
label{
	color:#585a62;
}
.modal-title{
	text-align: center;
}
.center{
	text-align: center;
}

/*remove up down arrow in input type number*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.custom-boxxx{
 margin-top:-5px;
 background: #ffffff;
	box-shadow: 0px 3px 2px #aab2bd;
max-height:170px;
}

.custom-box{

	background: #ffffff;
	box-shadow: 0px 3px 2px #aab2bd;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height:60px;
}
.custom-boxx{
	background: #ffffff;
	box-shadow: 0px 3px 2px #aab2bd;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height:400px;
}
.custom-text1{
	color:black !important;
}
.custom-pos{
	margin-top:-15px;
	margin-left:130px;
}
.custom-sect{
	margin-top:38px;
}
.custom-sect1{
	margin-top:45px;
}
.remove-margin{
	margin:0 !important;
}
table{
	width: 100% !important;
}
#c_pack,#c_pack_multiple
{
	float:right;
	margin-right:66px;
	margin-top:15px;
}
.RS_header{
	margin-top: 59px;
	position: relative;
}
.RS_header_left{
	margin-left: 89px;
	position:relative;
	float: left;
}
.RS_header_right{
	position:relative;
	float: right;
	margin-right:210px;
	
}
.RS_MSG{
	margin-top:89px;
	position:relative;
}
p.RS_comment{
	margin-top:49px;
	max-width: 759px;
	margin-left: 120px;
}