/*COLOR LIGHT BLUE:#4ECDC4
LIGHT GRAY:#2F323B
DARKER:#585a62(FONT COLORS);

Dark:left-sidebar color: #2f323a;
font color left sidebar(default): #aeb2b7;
new left color background:rgba(0,213,193,.6);
ligth blue color: left sidebar hover:active : #4ECDC4;

*/

.child-tab{
	padding-left: 0 !important;
	margin-left: 20px !important;
}

.remove-hl{
	background: transparent !important;
	margin-left:10px;

}
.sub-menu li a.active{
		color:#21b0f1 !important;
}

.wrapper
{
	padding-bottom: 0 !important;
}
.wrappercustom
{
	padding-top: 20px;
	padding-bottom: 0 !important;
}

#profilepic{
	border-radius: 6px;
	margin-left: 25px;
	margin-top: 15px;
}

.context{
	margin-top: 56px;
	margin-left: 10px;
	margin-right: 25px;
}
.context>p{
	font-size: 16px;
}
#ava
{
	padding-left: 3px;
}
.customhr
{
	border-color: #4ECDC4;
}
#NotifContainer{
	max-height: 666px;
	overflow:auto;
}
.custom-form-radio{
	height: 16px !important;
	
}
.radio-label-center{
	text-align: center;
}
.custom-btn{
	background-color:#2F323B;
	border-radius: 5px;
	height:50px;
	color: white;
	text-align: center;
	cursor:pointer;
	padding:10px 30px;
	margin-left:32px;
}
.custom-btn:hover{
	background-color:#21b0f1;
	text-align: center;
	cursor:pointer;
	padding:10px 30px;
}
.main-chart{
	min-height: 555px;
	overflow: auto !important;
}
.thead_theme{
	background-color:rgba(47, 50, 59,.89);
	color: white;
}
.custom_table{
	margin-top: 26px;
	padding:0 12px;
	width:auto;
}
.tag_style{
	padding-top:10px;
	padding-bottom:-15px;
	padding-left:10px;
	font-size: 18px;
	
}
.theme_hr{

	border-color:rgba(47, 50, 59,.2);
}
#subs_click{
	margin-top:28px;	
}
.form_custom{

	padding:66px;
}
.form_remove_up_down{
	-webkit-appearance: none; 
  margin: 0;
}
.form-group-center label,.form-group-center button{
	margin-left:13%;
}
label{
	color:#585a62;
}
.modal-title{
	text-align: center;
}
.center{
	text-align: center;
}

/*remove up down arrow in input type number*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.custom-boxxx{
 margin-top:-5px;
 background: #ffffff;
	box-shadow: 0px 3px 2px #aab2bd;
max-height:170px;
}

.custom-panel{
	background: #ffffff;
	box-shadow: 0px 0px 0px #aab2bd;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height:100px;

	width:100%;

}
.custom-box{
	background: #ffffff;
	box-shadow: 0px 0px 0px #aab2bd;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height:55px;
	width:100%;

}

.custom-boxx{
	
	background: #ffffff;
	box-shadow: 0px 2px 3px 2px #aab2bd;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height:400px;
	width:100%;
}
.custom-boxxx{
	background: #ffffff;
	box-shadow: 0px 2px 3px 2px #aab2bd;
	padding-top: 0px;
	padding-bottom: 10px;
	min-height:50px;
	width:auto;
	
}
.custom-panelbox{
	background: #ffffff;
	box-shadow: 0px 2px 3px 2px #aab2bd;
	margin-top:10px;	
	margin-right: -15px;
	margin-left: -15px;
	min-height: 490px;

}

.prof-text{
	position: center;
	font-size: 18px !important;
	font-weight: 800;
	color: black;
}

.custom-text1{
	color:black !important;
}
.custom-pos{
	margin-top:-15px;
	margin-left:199px;
	text-align:right ;
}
.custom-sect{
	margin-top:38px;
}
.custom-sect1{
	margin-top:45px;
}
.custom-sect2{
	margin-top:20px;
	margin-bottom:-8px;
	text-align:center;
}
.remove-margin{
	margin:0 !important;
}
table{
	width: 100% !important;
}
#c_pack,#c_pack_multiple
{
	float:right;
	margin-right:66px;
	margin-top:15px;
}
.RS_header{
	margin-top: 6px;
	position: relative;
}
.RS_header_left{
	margin-left: 89px;
	position:relative;
	float: left;
}
.RS_header_right{
	position:relative;
	float: right;
	margin-right:210px;
	
}
.RS_MSG{
	position:relative;
}
#view_ser_content{
	min-height: 360px;
}
p.RS_comment{
	margin-top:10px;
	max-width: 759px;
	margin-left: 120px;
}
.rs-notif{
	padding: 0;
	height: 89px;
	text-align: left;
	float:left;

}
.rs_content{
	padding-top: 23px;
	padding-left: 28%;
	padding-bottom: 23px;
	max-height: 85px;
}
.rs_content img{
	float: left;
}
.rs_dept{
	margin-left: 12px;
	font-size: 14px;
}
.rs_content:hover{
	cursor: pointer;
}
.rs_msg_staff{
	margin-top: 9px;
	margin-left: 60px;
	font-size: 14px;
}
#step-1 h4,#step-2 h4{
float:left;
}
#step-1 input,#step-2 input{
margin-top: 6px;
margin-left: 10px;
}
.steps{
	margin-left: 250px;
	margin-top: 110px;
}
#next_click button{
	margin-left: 44px;
	margin-top:60px;
}
.cog_action
{
	margin-bottom: 16px;
	margin-right:10px;
	float:right;
	font-size: 20px;
	cursor: pointer;
}
#subs_chart{
		margin-left: 130px;
}
div.custom-bar-chart{
	width: 55%;
	float: left;
}
.bar:hover
{
cursor:pointer;
}
#panel_subs_chart{
	height: 260px;
	max-height: 260px;
	overflow: auto;
}
#hero-donut{
	  width: 830px;
  height: 280px;
  margin: 20px auto 0 auto;
}
#hero-donut>svg{
	width: 100%;
}
#morris{
	margin-top: 49px;
}
.content-text{
	margin-top: 20px;
}
.progress{
	margin-top: 23px;
}
.progress-bar{
	background-color: #21b0f1;
	font-size: 15px;
}
.Selection{
	background-color:#e7e4e4;

	border-width:0 1px 1px 0;
	border-style: outset;
	border-color:#dbd7d7;
	border-radius: 3px;
	margin-top: 20px;
}
.input_select>label{
	font-size:14px;
}
.input_select{
	margin-top: 15px;
}
.select_panel{
	margin:6px 0 16px 0;
	padding: 16px 0 16px 0;
}
.See-All{
	position: absolute;
	left:285px;
	top:366px;
}
.btn-active{
	background-color:#21b0f1;
}
.fill-tag {
    background:rgba(47, 50, 59,.1);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    border:0;
}
.fill-tag option {
    background:rgba(47, 50, 59,.89);
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    border:0;
}